<!DOCTYPE html>
<html lang="en">
    <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="description" content="">
       <meta name="author" content="">
       <title>Dashboard for unique services</title>
          <!-- Bootstrap core CSS -->
       <link href="public/css/bootstrap.min.css" rel="stylesheet">
          <!-- Custom styles for this template -->
       <link href="public/css/dashboard.css" rel="stylesheet">
       <link rel="stylesheet" href="//rawgithub.com/mgcrea/bootstrap-additions/master/dist/bootstrap-additions.min.css">
       <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
       <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
       <script src="public/js/ie-emulation-modes-warning.js"></script>
       <link href="public/bower_components/angular-motion/dist/angular-motion.min.css" rel="stylesheet">
    </head>
    <body ng-app="uniqueservices" ng-controller="impressionController">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Dashboard for unique services</a>
                </div>
            </div>
        </nav>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
              <ul ui-sortable class="nav nav-sidebar">
                <li id="pixel"><a href="home.html">Pixels</a></li>
                <li id="segment"><a href="segments.html">Segments</a></li>
                <li id="impression" class="active"><a href="#">Impressions</a></li>
                <li id="overlap" class="disabled"><a>Overlap</a></li>
              </ul>
            </div>
            <div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h1 class="page-header">Dashboard for unique services</h1>
              <div class="row placeholders">
                <form name="form" class="form-inline" role="form">
                  <div class="form-group">
                    <input ng-model="organizationId" type="text" class="form-control" placeholder="OrganizationID" pattern=".{6,}" required>
                  </div>
                  <label>:</label>
                  <div class="form-group">
                    <input ng-model="strategyId" type="text" class="form-control" placeholder="StrategyID" required>
                  </div>
                  <label>:</label>
                  <div class="form-group">
                    <input ng-model="exchangeId" type="text" class="form-control" placeholder="ExchangeID (default:*)">
                  </div>
                  <label>/</label>
                  <div class="form-group">
                    <select ng-model="totalOrDaily" class="form-control" required>
                      <option value="" disabled selected>Option</option>
                      <option ng-repeat="frequence in frequences" value="{{frequence}}">{{frequence}}</option>
                    </select>
                  </div>
                  <div id="datePicker" class="form-group">
                     <div class="form-group col-xs-6">
                        <input type="text" class="form-control" ng-model="fromDate" data-max-date="today" data-date-type="number" data-date-format="yyyy-MM-dd"  placeholder="From" bs-datepicker>
                      </div>
                      <div class="form-group col-xs-6">
                          <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" data-date-format="yyyy-MM-dd"  data-date-type="number" data-max-date="today" placeholder="Until" bs-datepicker>
                      </div>
                  </div>
                  <button type="submit" class="btn btn-default" ng-click="getImpressions()">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">Results</h2>
            <div ng-controller="chartController">
              <highchart id="chart1" config="highchartsNG"></highchart>
            </div>
      </div>
    </body>
    <script src="public/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script src="public/bower_components/angular/angular.min.js"></script>
    <script src="public/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
    <script src="public/bower_components/angular-strap/dist/angular-strap.min.js"></script>
    <script src="public/bower_components/angular-strap/dist/angular-strap.tpl.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.src.js"></script>
    <script src="public/bower_components/highcharts-ng/src/highcharts-ng.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
    <script src="public/js/moment.js"></script>
    <script src="public/js/unique-services-client.js"></script>
    <script src="public/js/controllers/chartController.js"></script>
    <script src="public/js/controllers/pixelController.js"></script>
    <script src="public/js/controllers/impressionController.js"></script>
    <script src="public/js/controllers/segmentController.js"></script>
    <script src="public/js/base.js"></script>
</html>